includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    phpVersion: 80200
    paths:
        - src/php
    scanFiles:
        - ../.stubs/kizlo-api.php
        - ../.stubs/cf7.php
        - ../.stubs/kizlo-cf7-constants.php
