includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    phpVersion: 80200
    paths:
        - src/php
    scanFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - ../.stubs/kizlo-api.php
        - ../.stubs/woocommerce-storeapi.php
        - ../.stubs/kizlo-woocommerce-constants.php
