# Kizlo Connect (local | remote)
KIZLO_CONNECT=

# Kizlo API URL
VITE_KIZLO_API_URL=

# Kizlo Remote
KIZLO_WP_SECRET=
KIZLO_WP_URL=
KIZLO_WP_USERNAME=
KIZLO_WP_APP_PASSWORD=

# Kizlo Local
KIZLO_LOCAL_WP_SECRET=
KIZLO_LOCAL_WP_URL=
KIZLO_LOCAL_WP_USERNAME=
KIZLO_LOCAL_WP_APP_PASSWORD=
