WP_PORT=8080
WP_URL=http://localhost:8080

ADMIN_USER=admin
ADMIN_PASSWORD=adminpass
ADMIN_EMAIL=admin@example.com

CUSTOMER_PASSWORD=customerpass
CUSTOMER2_PASSWORD=customer2pass

MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wppass