<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    cacheResult="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    convertDeprecationsToExceptions="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="kizlo">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
